<%- include('../../partials/header.ejs'); -%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Squad</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="actionMainDiv">
      <div class="actionMainDivHeader">
        <img src="/icons/workIcon.png" alt="Work Icon Image" class="ImgInHeader" />
        <h2>What did I do in the Design Squad?</h2>
        <div>
          <%- include('../../partials/upsellCard', { upsellCardLink: '/managersquad', 
          upsellCardIcon: '/icons/upsellCardIcons/managerIcon.png', 
          upsellCardText: 'Check out my time in the Manager Squad!' }); -%>
        </div>
      </div>

      <div class="actionMainTextDiv">
        <div class="actionParagraphText">
          <h4 class="aboutHeading">About</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>

        <div class="actionParagraphText">
          <h4 class="aboutHeading">About</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
