<a href="<%= upsellCardLink %>" class="card-link">
   <div class="card1">
     <div class="upselltopcard">
       <h4 class="upsellcardtitle">Liked this page?</h4>
     </div>
     <div class="upsellbottomcard">
       <img src="<%= upsellCardIcon %>" alt="Icon Image" class="upsell-card-img" />
       <div class="upsellcardtext"><%= upsellCardText %></div>
     </div>
   </div>
 </a>
 