@font-face {
  font-family: "myFirstFont";
  src: url("./3270-Regular.ttf");
}

h1 {
  font-family: "myFirstFont";
  color: #60487d;
  font-size: 24px;
}

h2 {
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  margin-top: 3%;
}

h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 0%;
}

body {
  background-color: #f9efef;
  margin: 0;
  font-family: "Fira Code";
}

a {
  text-decoration: none;
}

#iconHeader {
  font-family: "myFirstFont";
  color: #60487d;
  font-size: 24px;
}

.headerContainer {
  background: #cdb2bb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 17px;
  padding-left: 0;
}

.navLink {
  color: #0c0c0c;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.homeContainer {
  background: #f9efef;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 0px 80px;
}

#homeTitleText {
  color: #60487d;
  font-family: "Fira Code";
  font-size: 48px;
  font-weight: 400;
}

.homeImageAndText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 96px;
}

img {
  width: 360px;
  height: 294px;
  flex-shrink: 0;
  margin-right: 8%;
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.introtext {
  background: #fff;
  padding: 14px;
  margin-bottom: 42px;
}

.aboutHeading {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 7px;
}

.paragraph {
  background: #fff;
  padding: 14px;
}

.homeCardLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 431px;
  height: 170px;
  text-align: center;
  border-radius: 25px;
  padding-bottom: 30px;
  margin-bottom: 5%;
}

.card-img {
  width: 25%;
  height: 25%;
  padding-top: 15px;
  padding-left: 10px;
  /* filter: drop-shadow(2px 2px 2px black);  need to adjust colour and decide if wanted */
}

.topcard {
  text-align: left;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 17px;
}

.bottomcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.cardtext {
  word-wrap: break-word;
  width: 230px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  color: #0c0c0c;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 90px;
}

.yearHeaders {
  color: #0c0c0c;
  font-family: "Fira Code";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 0%;
}

/* test engineering page */

.TContainer {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
}

.textcontainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutsection {
  width: 70%;
  padding: 2%;
  background-color: #cdb2bb;
}

.card-link {
  color: inherit;
  margin-right: 10%;
  margin-top: 5%;
}

.upsellcardlayout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card1 {
  width: 314px;
  height: 65%;
}

.upselltopcard {
  background: #d6a6a6;
  padding: 9px;
  padding-right: 35px;
  border-radius: 24px 24px 0 0;
  border: 1px solid #000;
  border-bottom-width: 0;
}

.upsellcardtitle {
  text-align: right;
  font-size: 15px;
}

.upsellbottomcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5%;
  border-radius: 0 0 24px 24px;
  border: 1px solid #000;
  border-top-width: 0;
  background: #f9efef;
}

.upsell-card-img {
  width: 22%;
  height: 18%;
}

.upsellcardtext {
  word-wrap: break-word;
  width: 190px;
  font-size: 20px;
  text-align: center;
}

.workicons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.workImg {
  width: 231px;
  height: 231px;
}

.workText {
  color: #3c2d2d;
  text-align: center;
  font-size: 37px;
  font-weight: 500;
  text-decoration-line: underline;
  padding-top: 2%;
  padding-bottom: 15%;
  display: block;
  width: 100%;
}
