@font-face {
  font-family: "myFirstFont";
  src: url("./3270-Regular.ttf");
}

h1 {
  font-family: "myFirstFont";
  color: #60487d;
  font-size: 24px;
}

#iconHeader {
  font-family: "myFirstFont";
  color: #60487d;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.headerContainer {
  background: #cdb2bb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 17px;
  padding-left: 0;
}

.navLink {
  color: #0c0c0c;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

body {
  margin: 0;
  font-family: "Fira Code";

}
